$bg-color: #212731;
$font-color: #d1d6da;

.navbar-container {
  background-color: $bg-color;
  color: $font-color;
  height: 64px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.search-container {
  background-color: white;
  display: flex;
  align-items: center;
  border-radius: 5px;
  height: 30px;
}
.search-box {
  border: none;
  height: 25px;
  outline: none;
}
.search-icon {
  height: 25px;
  color: black;
}
.navbar-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 600px;
}
